db.sqlite3
/cowin_app/migrations/
cowin_app/migrations/
\cowin_app\migrations\

/cowin_api/migrations/
cowin_api/migrations/
\cowin_api\migrations\

*__pycache__/*
*migrations/*

/cowin_app/__pycache__/
cowin_app/__pycache__/
\cowin_app\__pycache__\

/cowin_api/__pycache__/
cowin_api/__pycache__/
\cowin_api\__pycache__\

/cowin/__pycache__/
cowin/__pycache__/
\cowin\__pycache__\

/cowin_api/cowin_secret.py
cowin_api/cowin_secret.py
\cowin_api\cowin_secret.py

mysite.log
settings/__pycache__/
